body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  font-family: sans-serif;
  background-color: rgb(15, 15, 15);
  color: #fff;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffea00; /* Initial color */
  transition: background-color 0.3s ease;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin-right: 20px;
}

#navbar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  background-color: #ffea00;
}

#navbar a:hover {
  background-color: #555; /* Hover color */
  color: white;
}

#navbar.scrolled {
  background-color: #333; /* Scrolled color */
  color: #fff;
}

#navbar.scrolled a:hover {
  background-color: #555; /* Scrolled hover color */
  color: #fff;
}

#link {
  display: flex;
  gap: 28px;
}
